body{
font-family:Arial;
background:#1e3c72;
color:white;
text-align:center;
}

.box{
background:white;
color:black;
width:320px;
margin:auto;
padding:20px;
border-radius:10px;
}

input,select{
width:90%;
padding:8px;
margin:8px;
}

button{
padding:10px;
width:95%;
background:#1e3c72;
color:white;
border:none;
cursor:pointer;
}

a{
color:#1e3c72;
font-weight:bold;
}